@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&family=Work+Sans&display=swap');

/*variables*/
$font-logo: "Roboto", sans-serif;
$font-main: "Koulen", sans-serif;
$font-header: "Work Sans", sans-serif;

$color-primary: #082d42;
$color-secondary: #49bdd1;
$color-white: #f5f6fb;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100px;
    width: 100%;
    margin: 50px;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        display: inline-block;
        color: $color-primary;
        font-size: 75px;
        font-family: $font-logo;
    }

    img {
        height: 100px;
    }

    div {
        height: 75px;
        width: 150px;
        border: 2px solid $color-primary;
        border-radius: 10px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        font-size: 30px;
        font-family: $font-main;
    }
}
